.postContainer{
    width:100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postForm{
    width:80%;
    height:700px;
    padding:50px;
    background-color: white;
    box-shadow: 2px 2px 4px 2px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.postFormSmall{
    width:40%;
    min-height:300px;
    padding:20px;
    box-sizing: border-box;
    margin:20px;
    background-color: white;
    box-shadow: 2px 2px 4px 2px grey;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}
.postHeader{
    font-size:48px;
    margin:35px;
}
.postInput{
    width:550px;
    height:200px;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    padding:10px;
    outline: none;
}
.postButton{
    width:250px;
    height:75px;
    font-size:24px;
    margin-top:50px;
    border-radius: 15px;   
    box-shadow : 2px 2px 4px 2px grey;
    transition: 250ms all ease;
}
.postButton:hover{
    box-shadow : 2px 2px 10px 2px rgb(0, 119, 255);
}
.postButton:active{
    box-shadow : 2px 2px 10px 2px rgb(0, 80, 172);
}
.postProfile{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-left:100px;
}
.postUsernameBar{
    display: flex;
    align-items: center;
}
.postUsername{
    font-size:32px;
    width:350px;
    text-align: justify;
    margin-left:5px;
}
.postContent{
    width:600px;
    height:150px;
    font-size:20px;
    /* background-color: red; */
    text-align: justify;
    margin-left:100px;
    padding:5px;
}
.postLike{
    width:700px;
    font-size:20px;
    text-align: justify;
    margin-left:100px;
}
.postimage{
    max-width: 600px;
    max-height:400px;
    margin:auto;
    margin-top:25px;
    margin-bottom: 25px;
}
.deleteButton{
    width: 175px;
    height:100%;
    position: relative;
    margin-left:220px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px red;
    transition: 250ms all ease;
}
.deleteButton:hover{
    box-shadow: 1px 1px 4px 4px red;
}

.postAlertContainer{
    position:absolute;
    width: 100vw;
    height:100vh;
    top:-0px;
    background-color: rgba(0,0,0,0.7);
    left:0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: top;
    z-index: 3;
}
.postAlertBox{
    font-size:28px;
    width:40vw;
    height:40vh;
    margin-top:40px;
    background-color: white;
    padding:30px;
    padding-left:50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}